
.js-events-list{
    padding-top: 1rem;
}



.seemore-btn {
    margin-bottom: 0.5rem;
    margin-left: 48%;
}

#mainContent{
  background-color: #E5E5DC;
 /* padding-left: 50px;
  padding-right: 50px;*/
}


.hero-image__content{
  margin-top:-5rem;
}


.hero-image-container{
  background-image: url("img/banner.jpg");
}

.poster-card__header{
  border-bottom:solid 1px gray;
}

.poster-card__footer{
  border-top:solid 1px gray;
}

.poster-card__label{
  border: solid 0.5px gray;
}


.footer{
  min-height: 50px;
  background-color: black;
}

.seemore{
    text-align: center;
    display: block;
    padding: 1px 1px 10px 1px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:#E5E5DC;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  border:#E5E5DC
}

.btn:focus{
  border:#E5E5DC
}


.btn-filter{
  background-image: none;
  background-color: #E5E5DC;
  color:#569999;
}

.btn-filter:hover{
  background-image: none;
  background-color: #E5E5DA;
  box-shadow: gray 0.5px 0px;
  border-color: gray;
}


.filter-bar{
  display: none;
  padding-top:0.3rem;
}

div.filter-bar > input{
  margin-right: 4px;
}


div.hero-overlay > img{
  opacity: 0.5;
}

.namegroup{
  color:black;
  font-size:50px;
}

@media only screen and (max-width: 767px) {
   .namegroup{
        margin-top:2rem;
        font-size:30px;
   }

   .js-events-list{
     margin-top:2rem;
   }
}

.describe {
  font-size: 20px;
}

h2{
  font-size:50px;
  font-family: tahoma;
}

.footer-distributed{
  margin-top:0;
}