#wrapper #header {
  width: 100%;
  height: 3.75em;
  background: #35b15a;
  box-sizing: border-box; }
  #wrapper #header .nav-left {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: left;
    margin-left: 3%; }
    #wrapper #header .nav-left .left-display {
      margin: 0.625em 0;
      padding-left: 3.625em;
      position: relative; }
      #wrapper #header .nav-left .left-display .fa.fa-search {
        position: absolute;
        margin: 0.6em 0 0 1.5em; }
      #wrapper #header .nav-left .left-display .search-box {
        margin: 0.125em 0 0 1em;
        border: none;
        border-radius: 2px;
        width: 80%;
        height: 2em;
        padding: 0.2em 0 0 2em;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out; }
        #wrapper #header .nav-left .left-display .search-box:focus {
          width: 100%; }
  #wrapper #header .nav-right {
    float: right;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 3%; }
    #wrapper #header .nav-right .profile {
      display: inline-block;
      position: relative;
      padding-right: 0.625em;
      margin: 0.625em 3em 0.625em 0em;
      border-radius: 2px;
      height: 2.5em;
      font-weight: bold;
      line-height: 2.5em;
      color: #fff;
      -webkit-transition: display 0.4s ease-in-out;
      transition: display 0.4s ease-in-out; }
      #wrapper #header .nav-right .profile:hover {
        background: #298946; }
      #wrapper #header .nav-right .profile .display-img {
        float: left;
        margin: 0 0.3em 0 -1.625em;
        height: 2.5em;
        width: 2.5em;
        border-radius: 2px; }
      #wrapper #header .nav-right .profile .fa.fa-bell-o {
        float: left;
        margin: 0.1em;
        border-radius: 2px;
        font-size: 2em; }
      #wrapper #header .nav-right .profile .dropdown {
        display: none;
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
        #wrapper #header .nav-right .profile .dropdown a {
          color: #35b15a;
          margin: 0.8em 1em;
          text-decoration: none;
          display: block;
          text-align: left;
          border-bottom: solid 1px;
          border-radius: 2px; }
          #wrapper #header .nav-right .profile .dropdown a:last-child {
            border-bottom: none; }
          #wrapper #header .nav-right .profile .dropdown a:hover {
            background-color: #298946;
            color: #fff; }
          #wrapper #header .nav-right .profile .dropdown a span {
            margin-left: 1.5em; }
      #wrapper #header .nav-right .profile .content-noti {
        width: 20em;
        margin: 0.5em 0 0 -1.7em; }
        #wrapper #header .nav-right .profile .content-noti a {
          padding-left: 0.5em; }
      #wrapper #header .nav-right .profile .content-infor {
        width: 11em;
        margin: 0.5em 0 0 -1.7em; }
      #wrapper #header .nav-right .profile .show {
        display: block; }
    #wrapper #header .nav-right .dropdown-setting {
      display: none; }
#wrapper #mainContent .carousel {
  width: 90%;
  margin: auto; }
  #wrapper #mainContent .carousel .carousel-cell {
    width: 100%;
    margin-right: 10px;
    border-radius: 2px;
    counter-increment: gallery-cell; }
    #wrapper #mainContent .carousel .carousel-cell img {
      width: 100%;
      height: auto; }
#wrapper #mainContent .intro-page p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #298946; }
#wrapper #mainContent .intro-page .line {
  width: 250px;
  height: 1px;
  margin: 0px auto 0;
  background: #298946; }
#wrapper #mainContent .intro-page .text-left {
  text-align: left; }
#wrapper #mainContent .category p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #298946; }
#wrapper #mainContent .category-detail .card {
  position: relative;
  float: left;
  width: 30%;
  margin: 2% 1%;
  padding-top: 25%;
  text-align: center;
  border: solid 1px; }
  #wrapper #mainContent .category-detail .card .card__front,
  #wrapper #mainContent .category-detail .card .card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  #wrapper #mainContent .category-detail .card .card__front {
    background-color: #ff5078; }
  #wrapper #mainContent .category-detail .card .card__back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }

/*# sourceMappingURL=index.css.map */