#wrapper #header {
  height: 50px;
  box-sizing: border-box;
  background: #69c;
  padding: 10px; }
  #wrapper #header ul {
    list-style-type: none;
    height: 30px;
    margin: 0;
    padding: 0; }
    #wrapper #header ul li {
      display: inline; }
  #wrapper #header .svg-icon {
    width: 1em;
    height: 1em; }
    #wrapper #header .svg-icon path,
    #wrapper #header .svg-icon polygon,
    #wrapper #header .svg-icon rect {
      fill: green; }
    #wrapper #header .svg-icon circle {
      stroke: green;
      stroke-width: 1; }
  #wrapper #header .nav-right {
    float: right;
    margin-right: 7.5%; }
    #wrapper #header .nav-right .profile {
      display: inline-block;
      position: relative;
      padding: 0 15px;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      background-color: #f1f1f1;
      cursor: pointer; }
      #wrapper #header .nav-right .profile:hover {
        background-color: #b3bc20; }
      #wrapper #header .nav-right .profile .display-img {
        float: left;
        margin: 0 5px 0 -15px;
        height: 30px;
        width: 30px;
        border-radius: 5px; }
      #wrapper #header .nav-right .profile .dropdown-setting {
        display: none;
        position: absolute;
        overflow: auto;
        background-color: #f9f9f9;
        border-radius: 2px;
        min-width: 12em;
        margin: 4px 0px 30px -15px;
        padding: 4px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
        #wrapper #header .nav-right .profile .dropdown-setting a {
          display: block;
          text-decoration: none;
          text-align: left;
          padding: 5px 10px;
          margin: 0px 3px;
          border-bottom: solid 1px #d9d9d9;
          font-weight: bold;
          color: black; }
          #wrapper #header .nav-right .profile .dropdown-setting a:hover {
            background: #b3bc20;
            text-decoration: none;
            border-radius: 2px; }
          #wrapper #header .nav-right .profile .dropdown-setting a:last-child {
            border-bottom: none; }
      #wrapper #header .nav-right .profile .show {
        display: block; }
  #wrapper #header .nav-left {
    float: left;
    margin: 0 7.5%; }
  #wrapper #header .search {
    display: inline !important;
    max-height: 30px;
    position: relative; }
    #wrapper #header .search .search-box {
      box-sizing: border-box;
      width: 20%;
      height: 30px;
      padding: 5px 27px 6px 30px;
      font-size: 12px;
      border: 1px solid #e1e8ed;
      border-radius: 5px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out; }
      #wrapper #header .search .search-box:focus {
        width: 30%; }
    #wrapper #header .search svg {
      position: absolute;
      margin: 6px 0px 0px 5px; }
#wrapper #mainContent {
  margin: auto;
  width: 90%; }
  #wrapper #mainContent .carousel {
    box-sizing: border-box;
    background: #FAFAFA;
    position: relative; }
    #wrapper #mainContent .carousel .carousel-cell {
      width: 100%;
      max-height: 400px;
      margin-right: 5px;
      border-radius: 0px;
      counter-increment: carousel-cell; }
    #wrapper #mainContent .carousel .static-banner {
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
      padding: 2px 20px;
      font-size: 26px;
      color: white;
      pointer-events: none; }
      #wrapper #mainContent .carousel .static-banner .static-banner1 {
        left: 10px;
        top: 10px; }
  #wrapper #mainContent p {
    text-align: center;
    font-size: 2em;
    margin-top: 5%; }
  #wrapper #mainContent .line- {
    width: 50px;
    height: 1px;
    margin: 20px auto 0;
    background: #539E2A; }
  #wrapper #mainContent .category .lineCategory {
    margin-top: 20px;
    width: 100%; }
  #wrapper #mainContent .category p {
    text-align: left;
    font-size: 2em; }

/*# sourceMappingURL=index.css.map */