<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbelieve.Group8">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.androidbelieve.Group8.Main.splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androidbelieve.Group8.TinTuc.mottintuc" />
        <activity android:name="com.androidbelieve.Group8.Main.MainActivity"></activity>
        <activity android:name="com.androidbelieve.Group8.LichThiDau.OneMatch"></activity>
    </application>

</manifest>