
.consumer-header .header-search {
    display: none;
}
.hero-banner-form {
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    position: relative;
    background: #301944;
    height: 360px;
}
@media only screen and (min-width: 480px) and (max-width: 799px) {
    .hero-banner-form {
        height: 280px;
    }
}
@media only screen and (max-width: 479px) {
    .hero-banner-form {
        height: 280px;
    }
}
.hero-banner-form .hero-banner-form__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 70px;
    z-index: 1;
}
@media only screen and (min-width: 480px) and (max-width: 799px) {
    .hero-banner-form .hero-banner-form__content {
        padding-top: 50px;
    }
}
@media only screen and (max-width: 479px) {
    .hero-banner-form .hero-banner-form__content {
        padding-top: 40px;
    }
}
.hero-banner-form .consumer-title {
    color: white;
    padding: 10px 0 5px 0;
    font-weight: 600;
}
.hero-banner-form a.consumer-title {
    color: #ffdb00;
}
.hero-banner-form a.consumer-title .ico-circle-cross {
    font-size: 0.8em;
}
.hero-banner-form a.consumer-title:hover,
.hero-banner-form a.consumer-title:focus {
    text-decoration: none;
    color: #ffe233;
}
.hero-banner-form .hero-banner-form__background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.hero-banner-form .hero-banner-form__background:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    filter: progid: DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr=#70000000, endColorstr=#70000000);
}
.transparent-overlay {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: progid: DXImageTransform.Microsoft.gradient( GradientType=0, startColorstr=#70000000, endColorstr=#70000000);
}
.ie8 .consumer-search-bar .g-cell:nth-child(3) {
    height: 44px;
    background: white;
    border-top: 1px solid #D2D6DF;
    border-bottom: 1px solid #D2D6DF;
}
.ie8 .consumer-search-bar .g-cell:nth-child(3) select {
    opacity: 0;
}
.ie8 .consumer-search-bar .g-cell .responsive-form__select {
    margin-top: -1px;
}
@media only screen and (min-width: 480px) {
    .consumer-search-bar .g-cell:nth-child(3) {
        height: 44px;
        background: white;
        border-top: 1px solid #D2D6DF;
        border-bottom: 1px solid #D2D6DF;
    }
    .consumer-search-bar .g-cell:nth-child(3) select {
        opacity: 0;
    }
    .consumer-search-bar .g-cell .responsive-form__select {
        margin-top: -1px;
    }
}
@media only screen and (max-width: 479px) {
    .consumer-search-bar .g-cell input[type="submit"] {
        font-family: "briteicons";
        font-size: 20px;
    }
}
.consumer-search-bar .g-cell:first-child {
    padding-right: 0;
}
.consumer-search-bar .g-cell:last-child {
    padding-left: 0;
}
.consumer-search-bar .g-cell input[type="text"],
.consumer-search-bar .g-cell .responsive-form__select {
    border-radius: 0;
    border-left: 1px solid white;
}
.consumer-search-bar .g-cell input[type="text"]:focus,
.consumer-search-bar .g-cell .responsive-form__select:focus {
    border-left: 1px solid #00a1ee;
}
.consumer-search-bar .g-cell .responsive-form__select--focus {
    border-left: 1px solid #00a1ee;
}
.consumer-search-bar .g-cell:first-child input[type="text"] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #D2D6DF;
}
.consumer-search-bar .g-cell:first-child input[type="text"]:focus {
    border-left: 1px solid #00a1ee;
}
.consumer-search-bar .g-cell:first-child input[type="text"].show-autocomplete {
    border-bottom-left-radius: 0;
}
.consumer-search-bar .g-cell .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
}
.consumer-search-bar input {
    height: 44px;
}
.consumer-location {
    background-color: white;
    margin-bottom: 15px;
}
.consumer-location .g-cell {
    line-height: 44px;
}
.consumer-location .responsive-form.responsive-form--inline input[type="text"] {
    display: none;
    -webkit-appearance: none;
}
.ie8 .consumer-location .responsive-form.responsive-form--inline input[type="text"] {
    width: 300px;
}
@media only screen and (min-width: 480px) {
    .consumer-location .responsive-form.responsive-form--inline input[type="text"] {
        width: 300px;
    }
}
@media only screen and (max-width: 479px) {
    .consumer-location .responsive-form.responsive-form--inline input[type="text"] {
        width: 100%;
    }
}
@media only screen and (max-width: 479px) {
    .consumer-location .responsive-form.responsive-form--inline .autocomplete-component {
        display: block;
    }
}
.consumer-location .ico-location {
    font-size: 25px;
    color: #D2D6DF;
    position: relative;
    top: 2px;
    margin-right: 4px;
}
@media only screen and (max-width: 479px) {
    .consumer-location .consumer-location-link:hover {
        text-decoration: none;
    }
}
input.ui-autocomplete-input.ui-autocomplete-loading {
    background-color: white;
}
.ui-autocomplete__white {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: white;
    box-shadow: none;
    border-top: 1px solid #D2D6DF;
}
.ui-autocomplete__white .ui-menu-item {
    background-color: white;
    border: none;
}
.ui-autocomplete__white .ui-menu-item a {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 10px 12px;
}
.ui-autocomplete__white .ui-menu-item:hover,
.ui-autocomplete__white .ui-menu-item a.ui-state-hover,
.ui-autocomplete__white .ui-menu-item a.ui-state-focus {
    color: white;
    background-color: #00a1ee;
}