@media screen and (max-width: 1024px) {
    .nav-right {
        width: 42%!important;
        margin-right: 0!important;
        .profile {
            margin-right: 50%!important;
            > span {
                display: none;
            }
            .dropdown {
                margin: 3.1em 0 0 -10em!important;
            }
        }
        .notification {
            padding-right: 0px!important;
        }
    }
    .nav-left {
        width: 40%!important;
        margin-left: 0!important;
        .left-display {
            margin-left: 40%!important;
            padding-left: 0!important;
        }
        .search-box {
            display: none;
        }
        .fa.fa-search {
            font-size: 2em;
            width: 38%;
            margin: 3px 0 0 0!important;
            color: #fff;
            &:hover {
                background: #298946;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav-right {
        width: 40%!important;
        .notification {
            width: 45%!important;
        }
    }
    .nav-left {
        width: 37%!important;
    }
}

@media screen and (max-width: 680px) {
    .nav-right {
        width: 42%!important;
    }
    .nav-left {
        width: 33%!important;
    }
}

@media screen and (max-width: 580px) {
    .nav-right {
        width: 45%!important;
        .notification {
            width: 40%!important;
        }
    }
    .nav-left {
        width: 30%!important;
    }
}

@media screen and (max-width: 480px) {
    .content-noti {
        width:100vw!important;
    }
}

@media screen and (max-width: 320px) {
    .nav-right {
        width: 45%!important;
        .notification {
            width: 20%!important;
        }
    }
    .nav-left {
        width: 25%!important;
    }
}
