
.js-events-list{
    padding-top: 1rem;
}



.seemore-btn {
    margin-bottom: 0.5rem;
    margin-left: 48%;
}

#mainContent{
  background-color: #E5E5DC;
 /* padding-left: 50px;
  padding-right: 50px;*/
}


.hero-image__content{
  margin-top:-5rem;
}


.hero-image-container{
  background-image: url("img/banner.jpg");
}

.poster-card__header{
  border-bottom:solid 1px gray;
}

.poster-card__footer{
  border-top:solid 1px gray;
}

.poster-card__label{
  border: solid 0.5px gray;
}